#boxes-container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(var(--numCols), 1fr);
    grid-template-rows: repeat(var(--numRows), 1fr);
    grid-gap: 0px;
    width: 50vw;
    height: 50vh;
    margin: auto;
    box-sizing: border-box;
  }
  
  #boxes-container .boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  