#boxes-container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50vw;
    height: 50vh;
    margin: auto;
}
#boxes-container .boxes {
width: calc(25%);
height: 10px;
display: flex;
justify-content: center;
align-items: center;
}

#title {
    display: flex;
    justify-content: center;
}

.slidecontainer {
    display: flex;
    justify-content: center;
    margin: auto;
}